html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EEEEEE;
    margin: 0 0 100px;
}

h1 {
    color: #4A4A4A;
    font-size: 1.75em;
}

label {
    display: block;
    color: #7F7F7F;
}

#main-container {
    justify-content: center;
}

.navigation-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #FFFFFF;
}

.profile-form-back-button {
    background-color: transparent;
    border: none;
    color: #7F7F7F;
    font-size: 1.10em;
    text-transform: uppercase;
}
.profile-form-next-button {
    margin-left: auto;
    text-transform: uppercase;
    float: right;
    background-color: transparent;
    border: none;
    color: #7F7F7F;
    font-size: 1.10em;
}

input[type=submit] {
    background-color: transparent;
    border: none;
    color: #7F7F7F;
    float: right;
    font-size: 1.10em;
    text-transform: uppercase;
}

.hidden {
    display: none;
}