html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: rgb(246, 247, 250);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 0 100px;
}

form {
    max-width: 300px;
}

h1 {
    border-bottom: 1px solid rgb(218, 220, 228);
    color: rgb(52, 54, 61);
    display: block;
    font-size: 10pt;
    margin-top: 30px;
    padding-bottom: 7px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: rgb(48, 50, 68);
    font-size: 18pt;
    margin-top: 70px;
}

p {
    font-size: 10pt;
}

a {
    color: rgb(43, 170, 225);
    text-decoration: none;
}

label, legend {
    color: rgb(52, 54, 61);
    display: block;
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type=text], [type=email], [type=number], [type=date] {
    background-color: white;
    border: 1px;
    border-color: rgb(218, 220, 228);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-style: solid;
    color: rgb(146, 149, 156);
    font-size: 12pt;
    height: 35px;
    margin-bottom: 32px;
    padding-left: 18px;
    width: 278px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=number]#number-of-mites {
    margin-bottom: 10px;
    padding-right: 4px;
}

#mites-per-bees-calc::before {
    content: "= ";
}

#mites-per-bees-calc {
    color: rgb(148, 151, 157);
    font-style: italic;
    margin-bottom: 32px;
    text-align: right;
}

#add-mites-photo {
    background-color: rgb(43, 170, 225);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    font-size: 10pt;
    height: 40px;
    letter-spacing: 1.5pt;
    margin-bottom: 32px;
    text-transform: uppercase;
    width: 300px;
    -webkit-appearance: none;
}

input[type=checkbox] {
    background-color: white;
    border: 1px rgb(218, 220, 228) solid;
    height: 20px;
    margin: 0px 15px 0 0;
    width: 20px;
    -webkit-appearance: none;
}

input[type=checkbox]:checked {
    background-color: rgb(55, 187, 155);
}

input[type=submit] {
    background-color: rgb(55, 187, 155);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    font-size: 10pt;
    height: 60px;
    letter-spacing: 1.5pt;
    margin-bottom: 40px;
    margin-top: 40px;
    text-transform: uppercase;
    width: 300px;
    -webkit-appearance: none;
}

legend {
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 0;
}

fieldset label {
    align-items: center;
    display: flex;
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: 25px;
}

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

#main-column {
    flex-direction: column;
}

#main-container {
    display: flex;
    justify-content: center;
}

#submit-break {
    border-top: 1px rgb(216, 216, 216) solid;
    left: 0;
    position: absolute;
    right: 0;
}

.container {
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.profile-header, .survey-header {
    margin-bottom: 30px;
    margin-top: 60px;
}

.radio-container {
    display: flex;
    height: 35px;
    margin-bottom: 32px;
    width: 296px;
}

.radio-container label {
    align-items: center;
    background-color: white;
    display: inline-flex;
    font-size: 12pt;
    font-weight: normal;
    height: 100%;
    justify-content: center;
    margin-bottom: 0;
    width: 50%;
}

.radio-container label:nth-of-type(1) {
    border: 1px solid rgb(218, 220, 228);
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}

.radio-container label:nth-of-type(2) {
    border: 1px solid rgb(218, 220, 228);
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}

.radio-container input[type=radio] {
    display: none;
}

.radio-container input[type=radio]:checked + label {
    border-color: rgb(43, 170, 225);
    background-color: rgb(43, 170, 225);
    color: white;
}

.navigation-footer {
    background-color: rgb(51, 102, 153);
    bottom: 0;
    display: flex;
    height: 50px;
    left: 0;
    position: fixed;
    width: 100%;
}

.navigation-footer button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 9pt;
    letter-spacing: 1.5pt;
    text-transform: uppercase;
}

.navigation-footer input[type=submit] {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 9pt;
    letter-spacing: 1.5pt;
    margin-left: auto;
    margin-right: 15px;
    text-transform: uppercase;
}

.navigation-footer a.create-report {
    color: rgb(255, 255, 255);
    font-size: 18pt;
    font-weight: bold;
    margin-left: auto;
    padding: 8px 15px 0 0;
}

#create-report-marker {
    bottom: 80px;
    position: fixed;
    right: 40px;
    width: 150px;
}

.profile-form-back-button {
    margin-left: 15px;
    margin-right: auto;
}

.profile-form-next-button {
    margin-left: auto;
    margin-right: 15px;
}

.hidden {
    display: none;
}

.marker-underline {
    margin-bottom: 32px;
    position: relative;
}

.marker-underline img {
    left: 79px;
    position: absolute;
    top: 19px;
    width: 57px;
}
